data/.DS_Store
data/air_quality_Nov2017.csv
data/air_stations_Nov2017.csv
data/births.csv
data/bus_stops.csv
data/ccidents_2017.csv
data/deaths.csv
data/immigrants_by_nationality.csv
data/immigrants_emigrants_by_age.csv
data/immigrants_emigrants_by_destination.csv
data/immigrants_emigrants_by_destination2.csv
data/immigrants_emigrants_by_sex.csv
data/life_expectancy.csv
data/linies_bus.csv
data/most_frequent_baby_names.csv
data/most_frequent_names.csv
data/population.csv
data/transports.csv
data/unemployment.csv
