data_antiguo/.DS_Store
data_antiguo/air_quality_Nov2017.csv
data_antiguo/air_stations_Nov2017.csv
data_antiguo/births.csv
data_antiguo/bus_stops.csv
data_antiguo/ccidents_2017.csv
data_antiguo/deaths.csv
data_antiguo/immigrants_by_nationality.csv
data_antiguo/immigrants_emigrants_by_age.csv
data_antiguo/immigrants_emigrants_by_destination.csv
data_antiguo/immigrants_emigrants_by_destination2.csv
data_antiguo/immigrants_emigrants_by_sex.csv
data_antiguo/life_expectancy.csv
data_antiguo/linies_bus.csv
data_antiguo/most_frequent_baby_names.csv
data_antiguo/most_frequent_names.csv
data_antiguo/population.csv
data_antiguo/transports.csv
data_antiguo/unemployment.csv
.venv
